<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    <span class="text-color">{{ categoryDetails.name }}s </span>
  </h1>
  <hr />
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Price</th>
        <th class="col-md-2">Rating</th>
        <th class="col-md-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let products of categoryDetails.products">
        <td>
          {{products.name}}
        </td>
        <td>
          {{products.price}}
        </td>
        <td>
          {{products.rating}}
        </td>
        <td>
          <button type="button" class="btn btn-bg-color">Add to Order</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</body>
</html>