<h1> Category <span class="text-primary"> {{ categoryDetails.name }} </span></h1>
<hr>

<div class="row my-2">
    <div class="col-md-2">
        Description
    </div>
    <div class="col-md-4">
        <span class="fw-bold">
            {{categoryDetails.description}}
        </span>
    </div>
</div>
<div class="row my-2">
    <div class="col-md-2">
        Description
    </div>
    <div class="col-md-4">
        <span class="fw-bold">
            {{categoryDetails.description}}
        </span>
    </div>
</div>
<div class="row my-2">
    <div class="col-md-2">
        Description
    </div>
    <div class="col-md-4">
        <span class="fw-bold">
            {{categoryDetails.description}}
        </span>
    </div>
</div>