<h1> Category <span class="text-primary"> {{ categoryDetails.name }} </span></h1>
<hr>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Description</th>
        <th class="col-md-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of Categories">
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>
          <a [routerLink]="['edit', category.id]" title="edit">
            <i class="fa-solid fa-pen-to-square text-info"></i>
          </a>
          <a [routerLink]="['details', category.id]" title="details">
            <i class="fa-solid fa-circle-info ms-2"></i>
          </a>
          <a [routerLink]="['delete', category.id]" title="delete">
            <i class="fa-solid fa-trash ms-2 text-danger"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>