
<h1>
  <div *ngIf="thePageMode === pageModeEnum.Create; else pageTitleElse">
    Add a new Product
  </div>
</h1>

<ng-template #pageTitleElse>
  Edit Product
  <span class ="text-primary">{{product?.name}}</span>
</ng-template>

<hr />
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
  
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
        <mat-error>this field is required</mat-error>
      </mat-form-field>
    </div>
  
    <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <input formControlName="description" matInput  />
          <mat-error>this field is required</mat-error>
        </mat-form-field>
    </div>
  
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Rating</mat-label>
       <mat-select formControlName="rating">
                    <mat-option [value]="0">0</mat-option>
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                </mat-select>
        <mat-error>this field is required</mat-error>
      </mat-form-field>
  </div>
  
  <div class="col-md-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput  />
     @if(priceControl.hasError('required')){
      <mat-error>Price is required</mat-error>
     }
     @if(priceControl.hasError('max')){
      <mat-error> Product price Must be lower than 100$</mat-error>
     }
    </mat-form-field>
  </div>
  
  <div class="col-md-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        @for(category of categoryLookup; track category){
          <mat-option [value]="category.id">{{category.name}}</mat-option>
        }
    </mat-select>
      <mat-error>this field is required</mat-error>
    </mat-form-field>
  </div>
  
  </div>

  
  <div class="mt-3">
    <button type="button" [routerLink]="['/product']" class="btn btn-secondary">cancel</button>
    <button type="submit" class="btn btn-bg-color ms-2">
      <div *ngIf="thePageMode === pageModeEnum.Create; else submitButtonElse">
        Create
      </div>
      <ng-template #submitButtonElse>
        Save
      </ng-template>
    </button> 
  </div>

</form>
